#scroll .scroll-bar:vertical{
    -fx-background-color:transparent;
    -fx-background-radius:0;
}


#scroll .scroll-bar:vertical .track{
    -fx-background-color:transparent;
    -fx-border-color: transparent;
    -fx-background-radius:0em;
    -fx-border-radius:0em;
}

#scroll .scroll-bar:vertical .decrement-button{
    -fx-background-color:transparent;
    -fx-background-radius:0em;
    -fx-padding: 0 10 0 0;
}

#scroll .scroll-bar .increment-arrow,
#scroll .scroll-bar .decrement-arrow{
    -fx-padding: -2;
}

#scroll .scroll-bar:vertical .thumb{
    -fx-background-color: derive(black,90%);
    -fx-background-insets: 2, 0, 0;
    -fx-background-radius: 2em;
}


.botones:hover{
    -fx-background-color: green;
}

